@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.wrapper {
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

select {
	width: 76px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.button-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;

	button {
		width: 20%;
	}

	p {
		flex: 1 1 0;
	}
}
